.app .button-container {
	text-align: center;
}

.app .form {
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 auto;
	width: 450px;
}

.app i {
	color: #dc3545;
	font-size: 18px;
	cursor: pointer;
}

.app .afiliado {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
