# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\katy2\OneDrive\Documentos\GitHub\DesignPatterns-G1\Tienda_Virtual_2_G1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
